<!-- TESTIMONIALS -->
<div class=" row testimonials">
  	<div class="container">
  	<h2> Compo Participar ?</h2>
  	<p>Você pode participar aqui na plataforma ou em um dos encontros presenciais que serão realizados:</p>
      <div class="row">
        <div class="col-sm-12">
          <div id="customers-testimonials" class="owl-carousel">

            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <i class="img-circle fa fa-comments fa-4x" aria-hidden="true"></i>
                <h5>Comentar e avaliar o texto</h5>
                <p>O texto da lei estará online e você poderá navegar entre os capítulos, curtir trechos, priorizar aqueles que quer dar mais atenção, sugerir melhorias, entre outros.</p>
              </div>
               <a href="#projects"><div class="testimonial-name"> 
               Avaliar
              </div></a>
            </div>
            <!--END OF TESTIMONIAL 1 -->
            
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <i class="fa fa-upload fa-4x" aria-hidden="true"></i>
                <h4>Enviar documentos </h4>
                <p>Envie documentos que possam ajudar a Prefeitura do Rio a avaliar melhor o andamento do Plano, como trabalhos, artigos, e outros.</p>
              </div>
              <a href="#"> <div class="testimonial-name">Enviar Documento</div></a>
            </div>
            <!--END OF TESTIMONIAL 3 -->
            <!--TESTIMONIAL 4 -->
            <div class="item">
              <div class="shadow-effect">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                
                <h5>Presencial</h5>
                <p>Participar de encontros e oficinas para apresentação do processo, priorização de ações e esclarecimentos em geral.
</p>
              </div>
            <a href="#">  <div class="testimonial-name">Agenda de Encontros</div></a>
            </div>
            <!--END OF TESTIMONIAL 4 -->
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- END OF TESTIMONIALS -->