<!-- SAIBAMAIS -->
<div class=" row testimonials">
  	<div class="container">
  	<h2> Saiba Mais</h2>
      <div class="row">
        <div class="col-sm-12">
          <div id="saibamais-testimonials" class="owl-carousel">

            <!--TESTIMONIAL 1 -->
            <div class="item">
              <div class="shadow-effect">
                <i class="img-circle fa fa-file-text-o fa-4x" aria-hidden="true"></i>
                <h5>Sobre o planodiretor</h5>
                <p>O Plano Diretor de Desenvolvimento Urbano Sustentável do Município do Rio de Janeiro, aprovado pela <a href="http://www2.rio.rj.gov.br/smu/buscafacil/Arquivos/PDF/LC111M.PDF" target="_blank"> LEI COMPLEMENTAR Nº 111, DE 2011</a>, tem como princípios o desenvolvimento sustentável, a proteção do meio ambiente, do patrimônio cultural e da paisagem e o cumprimento da função social da cidade e da propriedade urbana.</p>
                  <p>Aqui você encontrará o histórico, marcos legais, e um resumo do que o plano trata em cada um dos seus capítulos, chamados “Títulos”. </p>
              
              </div>
              <a href="https://lab-planodiretor.herokuapp.com/sobre"><div class="testimonial-name"> Saiba Mais</div></a>
            </div>
            <!--END OF TESTIMONIAL 1 -->
           
            <!--TESTIMONIAL 3 -->
            <div class="item">
              <div class="shadow-effect">
                <i class="fa fa-area-chart fa-4x" aria-hidden="true"></i>
                <h5>Processo de acompanhamento </h5>
                <p>Nessa seção você poderá saber mais sobre o processo de acompanhamento, o Sistema Integrado de Planejamento e Gestão Urbana (SIPLAN), o Comitê Técnico de Acompanhamento do Plano Diretor (CTPD) e os relatório disponibilizados até então.</p>
              </div>
              <a href="http://lab-planodiretor.herokuapp.com/acompanhamento"><div class="testimonial-name">Saiba Mais</div></a>
            </div>
            <!--END OF TESTIMONIAL 3 -->
            
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- END OF SAIBA MAIS -->